# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# NPM package lock
package-lock.json
